body {
    margin: 0;
    padding: 0;
    font-family: cursive;
    background-color: rgb(112, 8, 8); /* Set the background color */
    background-image: url(login.png);
    background-position: center;
    background-size: 65%;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    max-width: 400px;
    width: 100%;
    margin-left: 300px;
}

.form-container {
    flex: 1;
    padding: 20px;
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-container input[type="text"],
.form-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: transparent;
    box-sizing: border-box;
}

.form-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.form-container input[type="submit"]:hover {
    background-color: #0056b3;
}
#loginButton {
    padding: 8px 20px;
    background-color: #007bff; /* Button color */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: cursive;
}

#loginButton:hover {
    background-color: #0056b3; /* Button color on hover */
}

